<div [formGroup]="taskForm">

    <div class="form-group col-xs-3">
        <label>Task Type</label>
        <!--<input type="text" class="form-control">-->


        <select class="form-control" formControlName="tasktype">
            <option [ngValue]="undefined" selected>Select Type</option>
            <option *ngFor="let item of tasktypes" [value]="item.tasktype">{{item.tasktype}}</option>
        </select>
        <small [hidden]="taskForm.controls.tasktype.valid" class="text-danger">   </small>
    </div>
    <div class="form-group col-xs-3">
        <label>Planned Effort (Hours)</label>
        <input type="number"  min="0" step="1" max="1000" oninput="validity.valid||(value='');" class="form-control" formGroupName="plannedEffort" formControlName="plannedEffort" placeholder="Planned Effort">
        <small [hidden]="taskForm.controls.plannedEffort.valid" class="text-danger">   </small>
    </div>


    <div class="form-group col-xs-6">
        <label for="resource">Resource</label>

        <input ng2-auto-complete
               [formControl]="userresource"
               [source]="resources"
               [list-formatter]="autocompleListFormatter"
               value-property-name="id"
               display-property-name="name"
               formControlName="resource"
               placeholder="Resource"
               class="form-control" required>
        <small [hidden]="taskForm.controls.resource.valid" class="text-danger">   </small>
    </div>

</div>