
<app-header [isUserLoggedIn]="true"></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--<h1>
                <strong>Bootstrap - Tile Demo</strong>
            </h1>-->
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div *ngIf="!urlRole" class="col-sm-3">
            <a  [routerLink]="['/project']" class="tile purple">
                <h3 class="title">Project</h3>
                <p>Manage Projects</p>
            </a>
        </div>
        <div class="col-sm-3">
            <a [routerLink]="['/task']" class="tile red">
                <h3 class="title">Task</h3>
                <p>Create Task</p>
            </a>
        </div>
        <div class="col-sm-3">
            <a [routerLink]="['/activity']" class="tile green">
                <h3 class="title">Activity</h3>
                <p>Create Activity</p>
            </a>
        </div>
        
        <div *ngIf="urlRole" class="col-sm-3">
          
        </div>
        <div *ngIf="urlRole" class="col-sm-3">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" *ngIf="!urlRole">
            <a [routerLink]="['/report']" class="tile orange">
                <h3 class="title">Reports</h3>
                <p>Go for report generation</p>
            </a>
        </div>
        <div class="col-sm-3" *ngIf="!urlRole">
            <a  [routerLink]="['/register']" class="tile cyan">
                <h3 class="title">User</h3>
                <p>Manage User</p>
            </a>
        </div>
     
    </div>
</div>

