
<app-header [isUserLoggedIn]="true"></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--<h1>
                <strong>Bootstrap - Tile Demo</strong>
            </h1>-->
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-3">
            <a [routerLink]="['/project']" class="tile purple">
                <h3 class="title">Project</h3>
                <p>Create Project</p>
            </a>
        </div>
        <div class="col-sm-3">
            <a [routerLink]="['/task']" class="tile red">
                <h3 class="title">Task</h3>
                <p>Create Task</p>
            </a>
        </div>
        <div class="col-sm-3">
            <a [routerLink]="['/home']" class="tile blue">
                <h3 class="title">Home</h3>
                <p>Home page</p>
            </a>
        </div>
        <div class="col-sm-3">
            <a [routerLink]="['/home']" class="tile green">
                <h3 class="title">Activity</h3>
                <p>Create Activity</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a [routerLink]="['/register']" class="tile red">
                <h3 class="title">Register</h3>
                <p>Create the user</p>
            </a>
        </div>
        <div class="col-sm-3">
            <a [routerLink]="['/task']" class="tile green">
                <h3 class="title">Task</h3>
                <p>Create Task</p>
            </a>
        </div>
    </div>
</div>

